---
layout: compress
title: "Siempre hay una escuela de inglés cerca en Estados Unidos"
h1: "'Escuelas de inglés cerca de mi en Estados Unidos' <br> ¡Nosotros te la mostramos!"
description: "En Estados Unidos siempre hay una escuela de inglés cerca de ti. ¡Haz clic y encuentra una hoy! Tu futuro empieza aquí 🌟"
webp: background.webp
---
{% include head.html %}
<body>
  {% include nav.html %}
  {% include header.html %}
  <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d12712338.476975597!2d-101.29781484999998!3d38.93315894146252!3m2!1i1024!2i768!4f13.1!2m1!1sescuelas%20ingles%20Estados%20Unidos!5e0!3m2!1ses!2sco!4v1696629309332!5m2!1ses!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <main class="ciudades wrapper">
    <h2>Escoge el estado donde quieres estudiar inglés</h2>
    <div class="estados">
      <button data-name="all" class="active">Todos</button>
      {% capture filtered_categories_array %}{% for item in site.ciudades %}{{ item.category }}|{% endfor %}{% endcapture %}
    {% for item in site.ciudades %}
        {% assign filtered_cat = item.category | append: '|' %}
        {% if filtered_categories_array contains filtered_cat %}
        <button data-name="{{ item.category}}">{{ item.category | upcase }}</button>
        {% endif %}
        {% assign filtered_categories_array = filtered_categories_array | remove: filtered_cat %}
    {% endfor %}
    </div>
  </main>
  <section class="posts wrapper">
    {% capture filtered_categories_array %}{% for item in site.ciudades %}{{ item.category }}|{% endfor %}{% endcapture %}
    {% for item in site.ciudades %}
    {% assign filtered_cat = item.category | append: '|' %}
    {% if filtered_categories_array contains filtered_cat %}
    <div class="post" data-name="{{ item.category }}">
      <span>Escuelas en {{ item.category | upcase }}</span>
      <section class="links">
        {% for destino in site.ciudades %}
        {% if destino.category contains item.category %}
        <article>
          <img src="{{site.baseurl}}/img/{{destino.webp}}" alt="{{destino.ciudad|capitalize}} {{destino.category|capitalize}}">
          <a href="{{destino.url}}">
            <h4>{{destino.title}}</h4></a>
        </article>
        {% endif %}
        {% endfor %}
      </section>
    </div>
    {% endif %}
    {% assign filtered_categories_array = filtered_categories_array | remove: filtered_cat %}
    {% endfor %}
    {% include buscador.html %}
  </section>
  <div class="wrapper flow">
    <h2>Somos la solución a tu necesidad de aprender Inglés</h2>
    <p>¿Cansado de buscar escuelas de inglés en Estados Unidos y sentirte abrumado con tantas opciones? ¿Te sientes estancado en tu carrera porque tu inglés no está al nivel que quisieras?</p>
    <p>¡Estás en el lugar correcto! En "Aventuras en inglés," te quitamos el estrés de la elección y te guiamos directo a las soluciones que cambiarán tu vida. Aquí, no solo <strong>descubrirás las mejores escuelas y programas de inglés en USA</strong>, sino que también te daremos <strong>estrategias reales para aprovechar al máximo tu inversión en educación</strong>.</p>
    <p>Olvídate de la confusión y la incertidumbre; estamos aquí para convertir tu sueño de hablar inglés fluido en una realidad palpable. 🚀</p>
  </div>
{% include cta.html %}
{% include footer.html %}
<a href="#">{% include boton-up.html %}</a>
  

 <script async>
  const filterButtons = document.querySelectorAll(".estados button");
  const filterPosts = document.querySelectorAll(".posts .post");

  const filter = e => {
    filterButtons.forEach(button => button.classList.toggle("active", button === e.target));

    filterPosts.forEach(post => {
      post.classList.toggle("hide", post.dataset.name !== e.target.dataset.name && e.target.dataset.name !== "all");
    });
  };

  filterButtons.forEach(button => button.addEventListener("click", filter));
  </script>
  <!-- Script pointing to search-script.js -->
<script defer src="{{site.baseurl}}/js/search-script.js"></script>
<!-- Configuration -->
<script defer src="{{site.baseurl}}/js/buscador.js"></script>
</body>
</html>