<aside class="articulos cta">
  <div class="flow">
    <h2>Acelera tu aprendizaje de Inglés en Línea</h2>
    <p>Si ya vives en Estados Unidos, mejorar tu inglés puede abrirte las puertas a <strong>mejores oportunidades laborales</strong>. Muchas empresas valoran la fluidez en inglés como una habilidad clave.</p>
    <p>Si estás decidido a aprender inglés en línea, te recomendamos <strong>un método que sí es tu solución</strong>. No pierdas más tiempo y empieza hoy mismo.</p>
    {% include boton.html %}
  </div>
  <img src="{{'img/home-clases-ingles.webp'|relative_url}}" alt="Clases en ingles">
</aside>