<section class="cta_daniel wrapper flow">
  <h2>¿Quieres aprender inglés más rápido?</h2>
  <p>Soy Daniel Monroy. Ayudo a mis estudiantes a <strong>comunicarse fácilmente en inglés</strong> mientras viajan, trabajan o estudian en Estados Unidos. Con <strong>métodos de estudio sencillos y modernos</strong> te ayudo a conseguirlo.</p>
  <p>Escríbeme para explicarte cómo lo hago y los planes que tengo para ti. Que además, ¡son <strong>planes al alcance de todos</strong>!</p>
  {% include boton.html %}
</section>