{% if page.layout == "ciudades" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "{{ page.title | escape }}",
  "description": "{{ page.description | escape }}",
  "url": "{{ page.url | prepend: site.url | escape }}",
  "mainEntity": {
    "@type": "EducationalOrganization",
    "name": "Escuelas de Inglés en {{ page.ciudad | capitalize }}",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "{{ page.ciudad | capitalize }}",
      "addressRegion": "{{ page.category | capitalize }}",
      "addressCountry": "US"
    },
    "description": "{{ page.intro | escape }}",
    "offers": [
      {
        "@type": "EducationalOrganization",
        "name": "Cursos de inglés en {{ page.ciudad | capitalize }}",
        "url": "{{ page.boton1_url | prepend: site.url | escape }}",
        "description": "{{ page.description | escape }}",
        "offers": {
          "@type": "EducationalOrganization",
          "name": "Más opciones",
          "url": "{{ page.boton2_url | prepend: site.url | escape }}",
          "description": "Encuentra más opciones de escuelas de inglés en {{ page.ciudad | capitalize }}."
        }
      }
    ]
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{ page.webp | prepend: site.url | escape }}",
    "height": 240,
    "width": 320
  }
}
</script>

{% elsif page.layout == "post" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title | escape }}",
  "description": "{{ page.description | escape }}",
  "url": "{{ page.url | prepend: site.url | escape }}",
  "mainEntityOfPage": "{{ page.url | prepend: site.url | escape }}",
  "image": {
    "@type": "ImageObject",
    "url": "{{ page.webp | prepend: site.url | escape }}",
    "height": 240,
    "width": 320
  },
  "author": {
    "@type": "Person",
    "name": "Autor del Blog"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.name | escape }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.logo | prepend: site.url | escape }}"
    }
  },
  "datePublished": "{{ page.date | date: "%Y-%m-%dT%H:%M:%S%z" }}",
  "dateModified": "{{ page.date | date: "%Y-%m-%dT%H:%M:%S%z" }}"
}
</script>

{% elsif page.layout == "compress" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "{{ page.title | escape }}",
  "description": "{{ page.description | escape }}",
  "url": "{{ page.url | prepend: site.url | escape }}",
  "image": {
    "@type": "ImageObject",
    "url": "{{ page.webp | prepend: site.url | escape }}",
    "height": 240,
    "width": 320
  }
}
</script>

{% elsif page.layout == "default" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "{{ page.title | escape }}",
  "description": "{{ page.description | escape }}",
  "url": "{{ page.url | prepend: site.url | escape }}",
  "mainEntity": {
    "@type": "EducationalOrganization",
    "name": "{{ page.h1 | escape }}",
    "description": "{{ page.intro | escape }}",
    "offers": [
      {
        "@type": "EducationalOrganization",
        "name": "Clases de inglés en EE.UU.",
        "url": "{{ page.url | prepend: site.url | escape }}",
        "description": "{{ page.description | escape }}"
      }
    ]
  }
}
</script>

{% endif %}
