.product-card {
  background: var(--color-blanco);
  overflow: hidden;
  place-items: center;
  place-content: center;
}

.product-card:hover {
  transform: var(--transform-translate-up);
  box-shadow: var(--shadow-hover-large);
}

.product-image {
  height: clamp(250px, 50vh, 450px);
  width: clamp(80%, 50vh, 350px);
  position: relative;
}

.product-image.mint {
  background: url('{{ "img/maquina-helado-itagel.avif" | relative_url }}')
    no-repeat center center;
  background-size: cover;
}
.product-image.pink {
  background: url('{{ "img/maquina-helado-itagel-colombia.avif" | relative_url }}')
    no-repeat center center;
  background-size: cover;
}
.product-image.lavender {
  background: url('{{ "img/maquina-helado-colombia.avif" | relative_url }}')
    no-repeat center center;
  background-size: cover;
}

.product-badge {
  position: absolute;
  inset: 1rem 3rem auto auto;
  background: var(--color-accion);
  color: var(--color-blanco);
  padding: 0.5rem 1rem;
  border-radius: var(--radius-small);
  font-size: 0.8rem;
  font-weight: 600;
}

.product-price {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--color-accion);
  margin-bottom: 1rem;
}
.border {
  border-bottom: solid var(--color-gris3);
}
