.product-card {
  margin-block: 2em;
  display: grid;
  place-items: center;
  width: 100%;
}

.product-card:hover {
  transform: var(--transform-translate-up);
  box-shadow: var(--shadow-hover-large);
}

.pink {
  background: var(--color-pink);
}
.principal {
  background: var(--color-principal);
}
.secundario {
  background: var(--color-secundario);
}
.gris{
  background: var(--color-gris3);
}

.product-img {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  padding: 2em;

  img{
    height: 280px;
    width: 280px;
  }
  
  .product-badge {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background: var(--color-blanco);
    color: var(--color-accion);
    padding: 0.5rem 1rem;
    border-radius: var(--radius-small);
    font-size: 0.8rem;
    font-weight: 600;
  }
}

.product-content {
  margin-bottom: 1rem;
  padding: 1rem;
  
  h3, p{
    color: var(--color-texto);
    text-align: center;
  }
  
  h3{
    font-weight: 300;
  }
  p{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
  }
}
