.product-card {
  margin-block: 2em;
  display: grid;
  place-items: center;
  width: 100%;
}

.product-card:hover {
  transform: var(--transform-translate-up);
  box-shadow: var(--shadow-hover-large);
}

.pink {
  /* Combina el color original con una versión más clara */
  background: linear-gradient(to bottom, var(--color-pink), rgba(255, 192, 203, 0.7)); 
}
.principal {
  /* Combina el color original con una versión más oscura */
  background: linear-gradient(to top, var(--color-principal), rgba(0, 0, 0, 0.2));
}
.secundario {
  /* Gradiente radial para un efecto de "foco" */
  background: radial-gradient(circle, var(--color-secundario), rgba(255, 255, 255, 0.3));
}
.gris{
  /* Gradiente sutil que va hacia un gris más claro */
  background: linear-gradient(to right, var(--color-gris3), rgba(220, 220, 220, 0.5));
}


.product-img {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  padding: 2em;

  img{
    height: 280px;
    width: 280px;
  }
  
  .product-badge {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background: var(--color-blanco);
    color: var(--color-accion);
    padding: 0.5rem 1rem;
    border-radius: var(--radius-small);
    font-size: 0.8rem;
    font-weight: 600;
  }
}

.product-content {
  margin-bottom: 1rem;
  padding: 1rem;
  
  h3, p{
    color: var(--color-texto);
    text-align: center;
  }
  
  h3{
    font-weight: 300;
  }
  p{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
  }
}
