.contacto{
  display: grid;
  place-content: center;
  gap: 4em;
}

.contact-info {
  background-color: var(--secundario);
  border-radius: var(--radius);
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--shadow);
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 0.5rem;
  list-style: none;
}

.contact-form {
  background-color: var(--blanco);
  border-radius: var(--radius);
  padding: 2rem;
  box-shadow: var(--shadow-2);
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--principal);
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--gris3);
  border-radius: var(--radius);
  font-family: var(--fuenteTexto);
}

.social-links {
  margin-top: 2rem;
  text-align: center;
}

.social-links a {
  color: var(--oficial);
  text-decoration: none;
  margin-right: 1rem;
}

.social-links a:hover {
  color: var(--accion);
}

.faq-link {
  display: inline-block;
  margin-top: 2rem;
  color: var(--oficial);
  text-decoration: none;
  font-weight: bold;
}

.faq-link:hover {
  color: var(--accion);
}
