.cta_daniel{
  margin-top: 4em;
  background-color: white;
  padding: 2em 1em;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  flex: 0 1 320px;
  max-width: 100%;
  text-align: center;
  display: grid;
  place-items: center;

  &:hover{
    box-shadow: var(--shadow-2);
  }

  h2, p{
    max-width: 992px;
  }
}