.gallery-item {
  aspect-ratio: 1;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.gallery-item:hover {
  transform: var(--transform-scale);
}

.gallery-item a {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}