
/* Hero Section */
.hero {
  position: relative;
  display: grid;
  padding-top: 80px;
  container-type: inline-size;
  overflow: hidden;
  isolation: isolate; /* Crea nuevo contexto de apilamiento */
}

/* Imagen de fondo */
.hero-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.hero-content {
  display: grid;
  align-items: center;
  z-index: 1;
  margin-left: 8rem;
}
