---
layout: compress
title: "✨ Agradecimiento: un sentimiento que transforma vidas"
h1: "Agradecimiento: un sentimiento que transforma vidas"
description: "💌 Aprende sobre la gratitud y cómo puede cambiar tu vida. Encuentra mensajes de agradecimiento que expresan lo que sientes. ¡Haz clic y comienza a agradecer hoy!"
webp: blog-hero.webp
---
{% include head.html %}
<body>
  {% include nav.html %}
  <header class="home">
    <div>
      <h1>{{page.h1}}</h1>
      <p>{{page.intro}}</p>
    </div>
    <div class="flow">
      <a href="{{site.baseurl}}{{page.url}}#{{page.boton1_url}}" title="{{page.boton1}}" class="boton boton_2">{{page.boton1 | capitalize}}</a>
      <a href="{{site.baseurl}}{{page.url}}#{{page.boton2_url}}" title="{{page.boton2}}" class="boton boton_2">{{page.boton2 | capitalize}}</a>
    </div>
  </header>
  <main class="wrapper flow">
    <h2>Escuelas de inglés en {{page.ciudad | capitalize }}: Opiniones y comparativas</h2>
    <p>¿Quieres <strong>aprender inglés en {{page.ciudad | capitalize }}</strong> pero no sabes por dónde empezar? Estás en el lugar correcto. Descubre las mejores escuelas, compara y elige la que se adapte a tus necesidades. ¡Vamos al grano!</p>
    <div class="escuelas" id="escuelas">
      {% assign ciudad = page.ciudad %}
      {% for escuela in site.data[ciudad] %}
      <hr>
      <article>
        <div class="escuela_datos">
          <h3>{{escuela.name}}</h3>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64c0 247.4 200.6 448 448 448 18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368c-70.4-33.3-127.4-90.3-160.7-160.7l49.3-40.3c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
            {{escuela.telefono}}</span>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M320.7 351.7C329 262.1 404.3 192 496 192c8.9 0 17.6.7 26.1 1.9L309.5 7c-6-5-14-7-21-7s-15 1-22 8L10 231.5c-7 7-10 15-10 24 0 18 14 32.1 32 32.1h32V480c0 17.7 14.3 32 32 32h96c17.7 0 32-14.3 32-32v-96.3c0-17.7 14.3-32 32-32h64.7zM640 368c0-79.5-64.5-144-144-144s-144 64.5-144 144 64.5 144 144 144 144-64.5 144-144zm-76.7-43.3c6.2 6.2 6.2 16.4 0 22.6l-72 72c-6.2 6.2-16.4 6.2-22.6 0l-40-40c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0l28.7 28.7 60.7-60.7c6.2-6.2 16.4-6.2 22.6 0z"/></svg>
            {{escuela.direccion}}</span>
            {% if escuela.horario %}
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.--><path d="M232 120c0-13.3 10.7-24 24-24s24 10.7 24 24v123.2l85.3 56.8c11 7.4 14 22.3 5.8 33.3-6.5 11-21.4 14-32.4 5.8l-96-64c-6.7-3.6-10.7-11.1-10.7-20V120zM256 0c141.4 0 256 114.6 256 256S397.4 512 256 512 0 397.4 0 256 114.6 0 256 0zM48 256c0 114.9 93.1 208 208 208s208-93.1 208-208S370.9 48 256 48 48 141.1 48 256z"/></svg>
              {{escuela.horario}}</span>
              {% endif %}
        </div>
        <div class="escuela_puntos">
          <ul>
            <li><span>▷</span> {{escuela.punto1}}</li>
            <li><span>▷</span> {{escuela.punto2}}</li>
            {% if escuela.punto3 %}
            <li><span>▷</span> {{escuela.punto3}}</li>
            {% endif %}
            {% if escuela.punto4 %}
            <li><span>▷</span> {{escuela.punto4}}</li>
            {% endif %}
            {% if escuela.punto5 %}
            <li><span>▷</span> {{escuela.punto5}}</li>
            {% endif %}
          </ul>
          {% if escuela.url1 %}
          <a href="{{escuela.url1}}" title="{{escuela.title1}}" class="boton boton_1">{{escuela.cta1}}</a>
          {% endif %}
          {% if escuela.url2 %}
          <a href="{{escuela.url2}}" title="{{escuela.title2}}" class="boton boton_1">{{escuela.cta2}}</a>
          {% endif %}
        </div>
      </article>
      {% endfor %}
    </div>
  </main>
  <section class="contenido wrapper flow" id="consejos">
    {{content}}
  </section>
  {% include cta.html %}
  {% include footer.html %}
  <a href="#">{% include boton-up.html %}</a>
  </body>
  <script async>
    const filterButtons = document.querySelectorAll(".estados button");
    const filterPosts = document.querySelectorAll(".posts .post");
  
    const filter = e => {
      filterButtons.forEach(button => button.classList.toggle("active", button === e.target));
  
      filterPosts.forEach(post => {
        post.classList.toggle("hide", post.dataset.name !== e.target.dataset.name && e.target.dataset.name !== "all");
      });
    };
  
    filterButtons.forEach(button => button.addEventListener("click", filter));
    </script>
</html>