---
layout: default
---

<main>
  <article class="wrapper flow contenido">
    {{ content }}

    <!-- Autor del artículo -->
    {% if page.author %} {% include author-info.html %} {% endif %} {% if
    page.referencias %}
    <section id="fuentes">
      <h4>Créditos y referencias</h4>
      <div>
        <ol>
          {% for link_hash in page.referencias %} {% for link in link_hash %}
          <li>
            📑
            <a
              href="{{ link[1] }}"
              rel="nofollow noopener noreferrer"
              target="_blank"
              >{{ link[0] }}</a
            >
          </li>
          {% endfor %} {% endfor %}
        </ol>
      </div>
    </section>
    {% endif %}
  </article>

  {% include related-posts.html %}
</main>
<section class="wrapper share">{% include share.html %}</section>
